@tailwind base;
@tailwind components;
@tailwind utilities;

.write-rl-upright {
   writing-mode: vertical-rl;
   text-orientation: upright;
}

.slick-slider,
.slick-list,
.slick-track,
.slick-slide {
   height: 100%;
}

.slick-slide > div {
   height: 100%;
}
